input {
    width: 10%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 10%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    cursor: pointer;
    color: #007bff;
}

p:hover {
    text-decoration: underline;
}

.h-10 {
    position: absolute;
    top: 20%;
    right: 10px;
}

.container h1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    top: 20%;
}